@media (max-width: 768px) {
  main {
    width: 80%;
  }
}
@media (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;
  }
  main {
    flex-direction: column;
    transform: scale(1);
  }
  .Result h1 {
    padding-top: 3rem;
  }
  .Summary {
    padding: 0 2rem 2rem 2rem;
  }
  .summary-width {
    width: 100%;
  }
}
@media (max-width: 488px) {
  main {
    width: 90%;
  }
}
@media (max-width: 425px) {
  body {
    position: relative;
  }
  main {
    width: 100%;
    top: -2rem;
    position: absolute;
    transform: scale(1);
  }
  .Result h1 {
    padding-top: 3rem;
  }
  .Summary {
    padding-bottom: 2rem;
  }
}
