.attribution {
  font-size: 11px;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 40%;
  /* margin: 0 auto; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* position: relative; */
}
main {
  display: flex;
  gap: 1.5rem;

  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  width: 50%;
  transform: scale(0.92);

  position: relative;
  top: 100px;
}
.width {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
.Result {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  text-align: center;
  border-radius: 1.6rem;
  /* width: 80%; */
  flex-basis: 100%;

  /* padding: 2rem; */
}
.Result h1 {
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 0;
}
.number {
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsl(241, 81%, 54%),
    hsla(241, 72%, 46%, 0)
  );
  display: inline-block;
  /* border-bottom: none; */
  border-radius: 50%;
  text-align: center;
  padding: 2rem 2.8rem;
  margin-bottom: 1rem;
}
.big {
  color: hsl(0, 0%, 100%) !important;
  font-size: 3rem;
  margin: 0;
  font-weight: 800;
}
.small {
  color: hsl(224, 30%, 27%);
  font-size: 0.8rem;
  margin: 0;
}
.Result h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}
.Result p {
  color: #ffffff9c;
  font-weight: 500;
}
/* THE STYLING OF SUMMARY  */
.Summary {
  /* background-color: red; */
  flex-basis: 100%;
  /* padding-right: 2rem; */
}
.summary-width {
  width: 90%;
}
.Summary h2 {
  color: hsl(224, 30%, 27%);
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 0;
  /* margin: 2rem 0 2rem; */
}
.list-items {
  margin-bottom: 1rem;
}
.first-list {
  background-color: hsla(0, 68%, 85%, 0.377);
  color: hsl(0, 100%, 67%);
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Reaction {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.second-list {
  background-color: hsla(39, 64%, 85%, 0.377);
  color: hsl(39, 100%, 56%);
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
}
.third-list {
  background-color: hsla(166, 64%, 87%, 0.37);
  color: hsl(166, 100%, 37%);
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
}
.forth-list {
  background-color: hsla(234, 68%, 85%, 0.377);
  color: hsl(234, 85%, 45%);
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
}
.first-list p {
  text-align: right;
}
span {
  color: #666;
}
b {
  color: hsl(224, 30%, 27%);
  font-weight: bold;
}
button {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsla(256, 72%, 46%, 1)
  );
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 1.5rem;
  padding: 1rem 0;
  width: 100%;
}
button:hover {
  background-image: linear-gradient(
    to top,
    hsl(252, 100%, 67%),
    hsla(256, 72%, 46%, 1)
  );
}
